/python/.idea
/wdl-ol/*.ipch
/wdl-ol/*.lnk
/wdl-ol/*.exe
/wdl-ol/*.opensdf
/wdl-ol/*.cache
/wdl-ol/*.sdf
/wdl-ol/*.zip
/wdl-ol/*.suo
/wdl-ol/*.ncb
/wdl-ol/*.vcproj.*
/wdl-ol/*.pkg
/wdl-ol/*.dmg
/wdl-ol/*.depend
/wdl-ol/*.layout
/wdl-ol/*.mode1v3
/wdl-ol/*.db
/wdl-ol/*.LSOverride
/wdl-ol/*.xcworkspace
/wdl-ol/*xcuserdata*
/wdl-ol/*.xcschememanagement.plist
/wdl-ol/build-*
/wdl-ol//IPlugExamples/*/*.vcxproj.user
/wdl-ol/PCH/*
/wdl-ol/VST3_SDK/*
/wdl-ol/VST_SDK/*
/wdl-ol/PT9_SDK/*
/wdl-ol/AAX_SDK/*
/wdl-ol/ASIO_SDK/*
/wdl-ol/CA_SDK/*
/wdl-ol/Projects/*
/wdl-ol/*/*/gui/*
/wdl-ol/Icon?
/wdl-ol/.DS_Stor*
/wdl-ol//WDL/IPlug/IPlug.vcxproj.user
/wdl-ol//WDL/lice/lice.vcxproj.user
/wdl-ol//WDL/IPlug/doc/
/wdl-ol//WorkProjects/
/wdl-ol//ObsoleteProjects/
/wdl-ol/IPlugExamples/build_errors.log
/wdl-ol//IPlugExamples/IPlugEEL/libEEL/build/
/wdl-ol//Ports/
/wdl-ol//ReaperExtensions/
/wdl-ol//IPlugExamples/duplicate.pyc
/wdl-ol/.vs